# Ignore Dockerfile and docker-compose files
Dockerfile
docker-compose.yml

# Ignore node_modules and other dependencies
node_modules
*.log
logs/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env

# Ignore build artifacts
build/
*.o
pentest
pentest-cpu
dist/

# Ignore Test files
tests/

# Ignore system files
.DS_Store
Thumbs.db

.git 